<!-- BEGIN: page -->
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
</head>
<body>

<form method="post" action="/">
    Ilość kodów do wygenerowania:<br>
    <input type="text" name="how_many" value="1000">
    <br>
    Długość pojedynczego kodu(liczba znaków):<br>
    <input type="text" name="length" value="5">
    <br>
    (Opcjonalnie)Procent wypełnienia (Im mniejszy tym trudniej zgadnąć kod rabatowy, liczba w zakresie od 1-99):<br>
    <input type="text" name="percentage_of_fill" value="">
    <br>
    (Opcjonalnie) Własny słownik z którego będą tworzone kody (np. AaBb9$%) :<br>
    <input type="text" name="custom_characters" value="">
    <br><br>
    <input type="submit" value="Pobierz plik CSV z kodami">
</form>

<p>Strona wykonana przez Dominika Pawlika [osemka59(at)gmail.com]".</p>

</body>
</html>
<!-- END: page -->